<section class="about-us" id="about-us">
  <div class="about-us-heading-container">
    <h2 class="about-us-heading">Who We are</h2>

    <div class="about-us-desc-container">
      <p class="about-us-desc">
        We are a quantitative consulting firm aimed at providing
        quantitative-finance expertise to companies. We focus on data science in
        financial technology (fintech) and blockchain projects and their
        connection with the traditional financial world. We also cover more
        traditional areas, such as developing new models for pricing functions,
        risk analytics, and performance measurement tools.
      </p>
    </div>
  </div>

  <div class="about-us-values">
    <h2 class="value-heading">Our Values</h2>

    <p class="value-sub-heading">
      We are a client-first company. We provide assistance with quantitative
      methods, modern AI techniques, and web3 technologies.
    </p>

    <div class="values-wrapper">
      <div class="value-container">
        <img src="/image/icon-online.svg" alt="" class="value-icon" />
        <h3 class="value-title">Venture Capitalists</h3>
        <div class="value-content-container">
          <p class="value-content">
            Before the financing round, we provide an unbiased quantitative due
            diligence process to assess a startup's worth. We also estimate the
            company's tokens. We modify both the tokenomics and the smart
            contracts for web3/blockchain companies.
          </p>
        </div>
      </div>

      <div class="value-container">
        <img src="/image/icon-api.svg" alt="" class="value-icon" />
        <h3 class="value-title">Estabilshed companies</h3>
        <div class="value-content-container">
          <p class="value-content">
            We offer model validation and smart contract auditing. We are in a
            unique position to predict the next big thing because we predicted
            th rise of DeFi in 2013. Additionally, we can assist with the
            quantitative and software aspects of setting up unique
            risk-management systems.
          </p>
        </div>
      </div>
      <div class="value-container">
        <img src="/image/icon-online.svg" alt="" class="value-icon" />
        <h3 class="value-title">Startups</h3>
        <div class="value-content-container">
          <p class="value-content">
            We assist eager new businesses in accelerating their growth. We
            assist in establishing or revising the process of creating and
            deploying quantitative models from the prototype stage to the
            production environment. We help web3 startups build smart contracts
            and sustainable tokenomics.
          </p>
        </div>
      </div>
    </div>
  </div>
  <section class="founders">
    <h3 class="founders-heading">meet our founders</h3>
    <div class="founder-wrapper">
      <div class="founder-container">
        <div class="founder-img-container">
          <img src="./image//founder1.png" alt="" class="founder-img" />
        </div>
        <h4 class="founder-name">Marco Marchioro, Ph.D,</h4>
        <p class="founder-sub-name">Chief Quantitative Analyst</p>
      </div>
      <div class="founder-container">
        <div class="founder-img-container">
          <img src="./image//founder2.png" alt="" class="founder-img" />
        </div>
        <h4 class="founder-name">Cesare Tagliaferri</h4>
        <p class="founder-sub-name">External Technical Advisor</p>
      </div>
      <div class="founder-container">
        <div class="founder-img-container">
          <img src="./image//founder3.png" alt="" class="founder-img" />
        </div>
        <h4 class="founder-name">Jacopo Quaglia</h4>
        <p class="founder-sub-name">External Networking Advisor</p>
      </div>
    </div>
  </section>
</section>
