<section class="contact-us" id="contact-us">
  <h2 class="contact-us-heading">Free 15-Minutes Consultation Session</h2>
  <div class="subheading-wrapper">
    <p class="contact-us-subheading">
      Enjoy Peace Of Mind With Our Industry Leading Quantitative Methodology
    </p>
  </div>

  <div class="form">
    <div class="form-box">
      <input
        id="name"
        name="name"
        type="text"
        required
        placeholder="Company Name"
      />
    </div>
    <div class="form-box">
      <input id="email" name="email" type="text" required placeholder="Email" />
    </div>

    <button onclick="sendMail()" class="btn-form">get started</button>
    <div class="message">
      <div class="success" id="success">your message successfully sent!</div>
      <div class="danger" id="danger">fields can't be empty</div>
      <div class="loading" id="loading">plase wait...</div>
    </div>
  </div>
</section>
