<!-- FAQ -->
<section class="faq" id="faq">
  <h2 class="faq-heading">FREQUENTLY ASKED QUESTIONS</h2>

  <div class="faq-content-wrapper">
    <div class="faq-title-container">
      <h4 class="faq-content-title">What Is Quantitative Due Diligence?</h4>
      <img src="./image/arrow.svg" alt="" class="faq-icon" />
    </div>
    <div class="faq-content-container">
      <p class="faq-content">
        This process is the independent and voluntary way to determine how well
        a company, usually a startup, is doing in terms of numbers (finances).
        The full name of the service is quantitative investigation done with due
        care.
      </p>
    </div>
  </div>
  <div class="faq-content-wrapper">
    <div class="faq-title-container">
      <h4 class="faq-content-title">
        What Are The Main Areas Of The Assessment?
      </h4>
      <img src="./image/arrow.svg" alt="" class="faq-icon" />
    </div>
    <div class="faq-content-container">
      <p class="faq-content">
        1. Revision of the company's quantitative models
      </p>
      <p class="faq-content">
        2. Revision of the data pipeline that transforms model inputs into
        outputs. This includes data cleansing, the detection of outliers,
        preprocessing, model training, and evaluation.
      </p>
      <p class="faq-content">
        3. Evaluation of the creation or implementation of new or existing
        models from the prototype to the production phase.
      </p>
      <p class="faq-content">
        4. Considering how market volatility affects the revenue and performance
        of the company. The company may perform well during bull markets but
        poorly during bear markets.
      </p>
      <p class="faq-content">
        5. Meet with the research and development team to determine what human
        resources are lacking, how to improve team dynamics, and what
        quantitative training may benefit the group. Interview new candidates of
        the highest calibre for key quantitative roles.
      </p>
    </div>
  </div>

  <div class="faq-content-wrapper">
    <div class="faq-title-container">
      <h4 class="faq-content-title">
        What Are The Extra Steps For Web3/Crypto Companies?
      </h4>
      <img src="./image/arrow.svg" alt="" class="faq-icon" />
    </div>
    <div class="faq-content-container">
      <p class="faq-content faq-sub-heading">
        For cryptocurrency firms, due diligence extends to tokens and/or smart
        contracts.
      </p>
      <p class="faq-content">
        1. Evaluate tokenomics, i.e., the relationship between the company token
        and blockchain smart contracts, the market, and token holders
      </p>
      <p class="faq-content">
        2. Specify which blockchains the token should be launched on, mirrored,
        or proxied on both the first and second layers.
      </p>
      <p class="faq-content">
        3. Assist in optimizing the time-to-market for token operations such as
        direct token sales, auctions, etc.
      </p>
      <p class="faq-content">
        4. Evaluate and research whether the use of non-fungible tokens (NFTs)
        can add value to the company/users/investors.
      </p>
      <p class="faq-content">
        5. Provide a quick quantitative evaluation of the current and expected
        token value when possible.
      </p>
      <p class="faq-content">
        6. Assist the team in discovering and improving the token's utility to
        increase its value.
      </p>
      <p class="faq-content">
        7. Conduct a quantitative audit of the most significant smart contracts
        to comprehend and estimate the potential risks and benefits. Note that
        this is distinct from a security audit.
      </p>
      <p class="faq-content">
        8. Examine the company's ICO on both centralised and decentralised
        exchanges.
      </p>
      <p class="faq-content">
        9. Consider novel approaches for enhancing tokenomics, such as offering
        to stake or quoting on an automated-market maker (in which case, which
        one to choose).
      </p>
      <p class="faq-content">
        10. Evaluate the effect of using oracles (whether implicit or explicit)
        on smart contracts. Assess the quantitative vulnerabilities, such as
        arbitrage attacks, in which an adversary can slowly deplete a smart
        contract of its tokens. (It should be noted that these attacks are
        typically undetected by a security audit.) Investigate what catastrophic
        scenarios could abruptly reduce the company's value (for instance,
        Luna/UST had numerous vulnerabilities) and estimate their likelihood.
      </p>
    </div>
  </div>
  <div class="faq-content-wrapper">
    <div class="faq-title-container">
      <h4 class="faq-content-title">
        What Are The Proposed Areas Of Improvement?
      </h4>
      <img src="./image/arrow.svg" alt="" class="faq-icon" />
    </div>
    <div class="faq-content-container">
      <p class="faq-content">
        1. Determine whether the business would benefit from additional
        mathematical or statistical methods.
      </p>

      <p class="faq-content">
        2. Evaluate whether the employed machine learning and artificial
        intelligence techniques are adequate or can be enhanced in terms of
        cost, speed, and precision.
      </p>
      <p class="faq-content">
        3. Indicate whether/how the current research/development workflow can be
        streamlined to improve efficiency.
      </p>
      <p class="faq-content">
        4. Consider what types of additional human resources could increase the
        value of the business.
      </p>
      <p class="faq-content">
        5. If applicable, suggest strategies for mitigating the effect of market
        volatility on the company's value.
      </p>
    </div>
  </div>
  <div class="faq-content-wrapper">
    <div class="faq-title-container">
      <h4 class="faq-content-title">What Is Excluded From The Process?</h4>
      <img src="./image/arrow.svg" alt="" class="faq-icon" />
    </div>
    <div class="faq-content-container">
      <p class="faq-content faq-sub-heading">
        To avoid confusion, the quantitative due diligence procedure does not
        perform the following:
      </p>
      <p class="faq-content">1. Financial audit.</p>
      <p class="faq-content">2. Management audit.</p>
      <p class="faq-content">3. A complete security audit</p>
    </div>
  </div>
  <div class="faq-content-wrapper">
    <div class="faq-title-container">
      <h4 class="faq-content-title">
        What Documents Are Obtained Through The Due Diligence Process?
      </h4>
      <img src="./image/arrow.svg" alt="" class="faq-icon" />
    </div>
    <div class="faq-content-container">
      <p class="faq-content faq-sub-heading">
        The results of the quantitative due diligence are contained in two
        documents, one of which is restricted to those who requested it and the
        other of which is accessible to the general public.
      </p>
      <p class="faq-content faq-sub-heading">
        Typically, the private report contains the complete audit details:
      </p>
      <p class="faq-content">
        1. A comprehensive analysis of each of the preceding points
      </p>

      <p class="faq-content">
        2. The critical problems that must be resolved immediatelyl
      </p>
      <p class="faq-content">
        3. The significant but non-urgent matters that require full attention
      </p>
      <p class="faq-content">
        4. Other suggestions that can enhance the value of the company The
        public report is typically shorter and consists of a summary of the
        findings, omitting specifics.
      </p>
    </div>
  </div>
</section>
