<section class="home" id="home">
  <div class="content-container">
    <div class="content">
      <h1 class="heading">
        <span class="heading-primary"
          >Drive Business Growth By Making Informed
        </span>
        <span class="heading-secondary"
          >Decisions With Quantitative Data.
        </span>
      </h1>
      <h3 class="sub-heading">
        Make informed decisions for the future using our proven quantitative
        methodology.
      </h3>
    </div>
    <a href="#contact-us">
      <button type="button" class="btn">get a free consultation</button>
    </a>
  </div>
</section>
