<section class="services" id="services">
  <div class="service-wrapper">
    <div class="service-content-container">
      <div class="service-heading">
        <h3 class="service-title">
          Get Clarity On The Financial Health Of The Companies You’re Investing
          In And Avoid Huge Losses
        </h3>
      </div>
      <p class="service-desc">
        Quant Island helps venture capitalists better gauge the value of a
        startup before investing. Our financial analysts, engineers, and data
        scientists team has made specialised models that do due diligence.
        Minimize your risk exposure
      </p>

      <a href="#contact-us">
        <button type="submit" class="btn btn-service">
          get a free consultation
        </button>
      </a>
    </div>
    <div class="service-img-container">
      <img
        src="./image/startup-img.png"
        alt="image"
        class="service-img"
        loading="lazy"
      />
      <img src="./image/Vector.svg" alt="" class="red-svg" />
    </div>
  </div>

  <div class="service-wrapper">
    <div class="service-content-container">
      <div class="service-heading">
        <h3 class="service-title">
          Enjoy Peace of Mind By Monitoring The Accuracy of Your Machine
          Learning Models
        </h3>
      </div>
      <p class="service-desc">
        We help you deploy your machine learning models for high-precision
        results. We validate models built with traditional quantitative methods
        and models based on machine learning. And we also test smart contract
        models.
      </p>
      <a href="#contact-us">
        <button class="btn btn-service">get a free consultation</button>
      </a>
    </div>
    <div class="service-img-container">
      <img
        src="./image/machine-img.png"
        alt="image"
        class="service-img"
        loading="lazy"
      />
    </div>
  </div>

  <div class="service-wrapper">
    <div class="service-content-container">
      <div class="service-heading">
        <h3 class="service-title">
          Gain An Edge By Launching Your Crypto Project On The Appropriate
          Blockchain
        </h3>
      </div>
      <p class="service-desc">
        We ensure our clients launch their projects on the right blockchain(s).
        This is done by looking at tokenomics, giving people access to
        quantitative vulnerabilities, and checking smart contracts. We also give
        professional advice on choosing the blockchain platform and making sure
        it is right for the project.
      </p>
      <a href="#contact-us">
        <button class="btn btn-service">get a free consultation</button>
      </a>
    </div>
    <div class="service-img-container">
      <img
        src="./image/crypto-img.png"
        alt="image"
        class="service-img"
        loading="lazy"
      />
    </div>
  </div>
</section>
