<section class="testimonial-wrapper" id="testimonial-wrapper">
  <div class="partners">
    <img src="./image/10,000+.svg" alt="" class="partner-logo" />
    <h3 class="partner-heading">
      Startups, venture capitalists, and businesses chose Quant Island.
    </h3>
    <div class="partner-img-container">
      <img src="./image/partner-1.svg" alt="" class="partner-img" />
      <img src="./image/partner-2.svg" alt="" class="partner-img" />
      <img src="./image/partner-3.svg" alt="" class="partner-img" />
      <img src="./image/partner-4.svg" alt="" class="partner-img" />
    </div>
  </div>

  <div class="slider">
    <div class="slide">
      <div class="testimonial">
        <h5 class="testimonial__header">Best financial decision ever!</h5>
        <blockquote class="testimonial__text">
          The Quant Island team's expertise with our quantitative AI models has
          been phenomenal. Our firm broke even in the first business year
          through its professional assessment and due diligence.
        </blockquote>
        <address class="testimonial__author">
          <img src="image/user-1.jpg" alt="" class="testimonial__photo" />
          <h6 class="testimonial__name">Aarav Lynn</h6>
          <p class="testimonial__location">Enterpreneur</p>
        </address>
      </div>
    </div>

    <div class="slide">
      <div class="testimonial">
        <h5 class="testimonial__header">
          The last step to becoming a complete minimalist
        </h5>
        <blockquote class="testimonial__text">
          Dr Marco and his team were instrumental in our fintech project's
          success. We hope to work with them again soon because it was clear
          they knew a lot about quantitative analytics.
        </blockquote>
        <address class="testimonial__author">
          <img src="image/user-2.jpg" alt="" class="testimonial__photo" />
          <h6 class="testimonial__name">Miyah Miles</h6>
          <p class="testimonial__location">Director, Udu Ex</p>
        </address>
      </div>
    </div>

    <div class="slide">
      <div class="testimonial">
        <h5 class="testimonial__header">The Quant Island team are amazing</h5>
        <blockquote class="testimonial__text">
          The Quant Island team guided us through the teething phase of our
          business. They provided us assistance through their quantitative
          methods and modern AI techniques. They are simply amazing, and their
          service is excellent
        </blockquote>
        <address class="testimonial__author">
          <img src="image/user-3.jpg" alt="" class="testimonial__photo" />
          <h6 class="testimonial__name">Francisco Gomes</h6>
          <p class="testimonial__location">Founder</p>
        </address>
      </div>
    </div>
    <div class="slide">
      <div class="testimonial">
        <h5 class="testimonial__header">
          Quant island is a big advantage to our organisation
        </h5>
        <blockquote class="testimonial__text">
          The team at Quant Island has added a lot of value to our project by
          helping us grow through different stages with their world-class
          quantitative analytics and risk assessment software
        </blockquote>
        <address class="testimonial__author">
          <img
            src="image/Ellipse 1 (3).png"
            alt=""
            class="testimonial__photo"
          />
          <h6 class="testimonial__name">Joel Pascua</h6>
          <p class="testimonial__location">Sales Executive</p>
        </address>
      </div>
    </div>
    <div class="slide">
      <div class="testimonial">
        <h5 class="testimonial__header">
          Quant island finds solutions to problems.
        </h5>
        <blockquote class="testimonial__text">
          It's great to offer professional quantitative analysis to startups,
          find solutions to problems we might face, and walk with us until our
          dream turns into a growing business worth hundreds of thousands of
          dollars.
        </blockquote>
        <address class="testimonial__author">
          <img
            src="image/Ellipse 1 (1).png"
            alt=""
            class="testimonial__photo"
          />
          <h6 class="testimonial__name">Eddie Huynh</h6>
          <p class="testimonial__location">Executive, Vamo</p>
        </address>
      </div>
    </div>

    <button class="slider__btn slider__btn--left">&larr;</button>
    <button class="slider__btn slider__btn--right">&rarr;</button>
    <div class="dots"></div>
  </div>

  <!-- how it works -->

  <section class="walkthrough">
    <h2 class="walkthrough-heading">Here’s How It Works.</h2>
    <div class="walkthrough-step-wrapper">
      <div class="walkthrough-container">
        <div class="walkthrough-title-container">
          <h2 class="walkthrough-number">1</h2>
          <h3 class="walkthrough-title">
            Schedule A Free Consultation Session.
          </h3>
        </div>
        <p class="walkthrough-content">
          Sign up for a 15-minute complimentary call with our Chief Quantitative
          Analyst to share more information about your project.
        </p>
      </div>

      <div class="walkthrough-container">
        <div class="walkthrough-title-container">
          <h2 class="walkthrough-number">2</h2>
          <h3 class="walkthrough-title">
            Due Diligence/Quantitative Investigation
          </h3>
        </div>
        <p class="walkthrough-content">
          We perform a detailed, independent quantitative audit to help you
          better understand the financial state of your business.
        </p>
      </div>

      <div class="walkthrough-container">
        <div class="walkthrough-title-container">
          <h2 class="walkthrough-number">3</h2>
          <h3 class="walkthrough-title">Make Revenue Driving Decisions.</h3>
        </div>
        <p class="walkthrough-content">
          You will receive detailed reports on important issues that must be
          addressed and critical problems that must be resolved immediately.
        </p>
      </div>
    </div>
  </section>
</section>
