.btn {
  font-size: 2.5rem;
  font-weight: 700;
  color: $cl-primary;
  background-color: white;
  border: none;
  text-transform: capitalize;
  padding: 2rem 5rem;
  border-radius: 4.5rem;
  transition: all 0.3s;
  animation: bottom 1s 0.2s;
  animation-fill-mode: backwards;

  @media only screen and (max-width: $bp-phone) {
    font-size: 2rem;
  }
  @media only screen and (max-width: $bp-phone-small) {
    padding: 1.6rem 4rem;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-1rem);
  }
}
