// // Form
.form {
  max-width: 80rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 0.2rem rgba(0, 0, 0, 0.541);
  padding: 3rem 1rem;

  @media only screen and (max-width: $bp-phone-big) {
    width: 90vw;
  }

  .form-box input {
    width: 100%;
    height: 6rem;
    padding: 2rem;
    border: 2px solid #888;
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 0.5rem;
    outline: none;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 400;
    margin-bottom: 2rem;

    &:focus {
      border: 2px solid $cl-primary;
    }
  }

  .btn-form {
    width: 80%;
    font-size: 2.5rem;
    font-weight: 700;
    color: $cl-white;
    background-color: $cl-primary;
    padding: 2rem 0;
    border: none;
    text-transform: capitalize;
    align-self: center;
    border-radius: 1rem;

    @media only screen and (max-width: $bp-phone) {
      width: 100%;
    }

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }

  .message {
    width: 100%;
    position: relative;
    margin: 1rem 0;
    display: flex;
    justify-content: center;

    .success {
      font-size: 2rem;
      font-weight: 500;
      color: green;
      position: absolute;
      text-transform: capitalize;
      animation: button 0.3s linear;
      display: none;
    }

    .danger {
      font-size: 2rem;
      font-weight: 500;
      color: $cl-primary;
      position: absolute;
      text-transform: capitalize;
      transform: 0.3s;
      animation: button 0.3s linear;
      display: none;
    }

    .loading {
      font-size: 2rem;
      font-weight: 500;
      color: black;
      position: absolute;
      text-transform: capitalize;
      display: none;
    }
  }
}
