$cl-primary: #b11f24;
$cl-white: #ffffff;

/////////////////MEDIA QUERY /////////////////////////////////

$bp-laptop: 90em; //1440px
$bp-small-laptop: 83.125em; //1330px
$bp-tap-land: 78.31em; //1253px
$bp-tab-port-big: 63.5em; //1016px
$bp-tab-port: 57.12em; //914px
$bp-phone-big: 45.25em; //724px
$bp-phone: 37.5em; //600px
$bp-phone-small: 28.75em; //460px
$bp-phone-smallest: 25em; //400px
$bp-mobile-s: 21.875em; //350px
