<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <!--nav  -->
    {% include nav.html %}
    <!--  -->
    <!-- home -->
    {% include home.html %}
    <!--  -->
    <!-- service section -->
    {% include services.html %}
    <!--  -->
    <!--  testimonial section-->
    {% include testimonials.html %}
    <!--  -->
    <!--faq section  -->
    {% include faq.html %}
    <!--  -->
    <!-- about-us section -->
    {% include about-us.html %}
    <!--  -->
    <!-- contact us section -->
    {% include contact-us.html %}
    <!--  -->
    <!--footer  -->
    {% include footer.html %}

    <script src="src/script.js"></script>
  </body>
</html>
